.MetaCentraland {}

.image {
    background-image: url('metaVerse.jpg');
    height: 100vmax;
    width: 100vmax;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.MetaCentraland__cells {
    display: flex;
}

.MetaCentraland__column {
    display: flex;
    flex-direction: column;
}

.MetaCentraland__cell {
    width: 6.5px;
    height: 3.6px;
    border: 0.1px solid #868585be;
}

.MetaCentraland__cell--alive {
    background-color: black;
}

.MetaCentraland__cell--dead {
    background-color: rgb(201, 181, 181);
}

.MetaCentraland__cell--road {
    background-color: rgb(100, 92, 92);
}

.MetaCentraland__cell--park {
    background-color: green;
}

.MetaCentraland__cell--cheepPlot {
    background-color: rgb(99, 249, 99);
}

.MetaCentraland__cell--mediocrePlot {
    background-color: rgb(255, 255, 0);
}

.MetaCentraland__cell--highPlot {
    background-color: red;
}

.MetaCentraland__cell--empty {
    background-color: rgb(93, 65, 148);
}

.my_text {
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    font-size: 30px;
    font-weight: bold;
    width: 121.7vmax;
}

.box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid;
}

.hiddeninput {
    display: none;
}

.validinput {
    color: #fff5f5;
    background-color: #00bfff;
    border-color: #15eb8b;
    display: block;
}

.price {
    display: none;
}

.visability {
    border: 2px solid;
}

.navbar-item {
    color: blueviolet
}